<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
</head>
<body>
    <div class="container">
        <h1>О нас</h1>
        <p>Мы - Клиника "Созвездие", предоставляем медицинские услуги высокого уровня с многолетним опытом.</p>
        <p>Наша команда врачей состоит из опытных специалистов, готовых помочь вам в любых медицинских вопросах.</p>

        <h2>Наши услуги</h2>
        <ul>
            <li>Общая медицина</li>
            <li>Хирургия</li>
            <li>Неврология</li>
            <li>Кардиология</li>
            <li>Ортопедия</li>
            <li>Гинекология</li>
            <li>Педиатрия</li>
        </ul>

        <h2>Наша клиника</h2>
        <p>Мы предлагаем современные условия пребывания для пациентов:</p>
        <ul>
            <li>Комфортные палаты</li>
            <li>Специализированное медицинское оборудование</li>
            <li>Дружелюбный персонал</li>
        </ul>

        <h2>Галерея</h2>
        <div class="image-gallery">
            <img src="{% static 'img/hospital_exterior.jpg' %}" alt="Экстерьер больницы">
            <img src="{% static 'img/ward.jpg' %}" alt="Палата">
            <img src="{% static 'img/medical_equipment.jpg' %}" alt="Медицинское оборудование">
        </div>
    </div>


</body>
</html>
