<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
<p>We are "Constellation" Clinic, providing high-level medical services with years of experience.</p>
<p>Our team of doctors consists of experienced specialists ready to assist you with any medical concerns.</p>

<h2>Our Services</h2>
<ul>
    <li>General Medicine</li>
    <li>Surgery</li>
    <li>Neurology</li>
    <li>Cardiology</li>
    <li>Orthopedics</li>
    <li>Gynecology</li>
    <li>Pediatrics</li>
</ul>


        <h2>Our Clinic</h2>
<p>We offer modern facilities for our patients:</p>
<ul>
    <li>Comfortable rooms</li>
    <li>Specialized medical equipment</li>
    <li>Friendly staff</li>
</ul>

<h2>Gallery</h2>

        <div class="image-gallery">
            <img src="{% static 'img/hospital_exterior.jpg' %}" alt="Экстерьер больницы">
            <img src="{% static 'img/ward.jpg' %}" alt="Палата">
            <img src="{% static 'img/medical_equipment.jpg' %}" alt="Медицинское оборудование">
        </div>
    </div>


</body>
</html>
