<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
</head>
<body>
    <div class="container">
        <h1>Contact us</h1>
        <div class="social-links">
            <a href="https://www.facebook.com/HospitalHealthcareEurope/">Facebook</a>
            <a href="https://x.com/hospital_health">Twitter</a>
            <a href="https://www.instagram.com/mslkssd/">Instagram</a>
            <a href="https://www.linkedin.com/in/miroslav-nekhaev-87b70a283/">LinkedIn</a>
            <a href="https://t.me/miriksol">Telegram</a>
        </div>
        <div class="phone">
            Phone: +48 572 106 694
        </div>
        <div class="map-text">
                <h2>Find us:</h2>
                 </div>

        <div class="map-container">
            <img class="map-image" src="{% static 'img/map.jpg' %}" alt="Map">

            </div>
    </div>

<footer>
        <p>&copy;2025 Application of the Clinic "Constellation". All rights reserved.</p>
    </footer>
</body>
</html>
