<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
</head>
<body>
    <div class="container">
        <h1>Наши контакты</h1>
        <div class="social-links">
            <a href="https://www.facebook.com/HospitalHealthcareEurope/">Facebook</a>
            <a href="https://x.com/hospital_health">Twitter</a>
            <a href="https://www.instagram.com/mslkssd/">Instagram</a>
            <a href="https://www.linkedin.com/in/miroslav-nekhaev-87b70a283/">LinkedIn</a>
            <a href="https://t.me/miriksol">Telegram</a>
        </div>
        <div class="phone">
            Наш телефон: +375-29-55-33-784
        </div>
        <div class="map-text">
                <h2>Как нас найти:</h2>
                 </div>

        <div class="map-container">
            <img class="map-image" src="{% static 'img/map.jpg' %}" alt="Карта">

            </div>
    </div>

<footer>
        <p>&copy;2024 Приложение Клиники "Созвездие". Все права защищены.</p>
    </footer>
</body>
</html>
