<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Clinic "Constellation" - Main</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Main</a></li>

            <li><a href="{% url 'doctors' %}">Doctors</a></li>
            <li><a href="{% url 'about_us' %}">About us</a></li>
            <li><a href="{% url 'schedule' %}">Schedule</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'appointment' %}">Make an appointment</a></li>
                <li><a href="{% url 'profile' %}">Personal</a></li>

            {% else %}
                <li><a href="{% url 'signup' %}">Sing up</a></li>
                <li><a href="{% url 'login' %}">Sign in</a></li>
            {% endif %}
            <li><a href="{% url 'contacts' %}">Contacts</a></li>
        </ul>
    </nav>
</header>

    
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to the web-application of Medical Clinic "Constellation"</h1>
            <p>Your trusted destination for appointment bookings.</p>
            <a href="{% url 'appointment' %}" class="btn btn-primary">Make an appointment</a>
        </div>
    </section>
    
    <section class="services">
        <div class="container">
            <h2>Our services</h2>
            <div class="service">
                <img src="{% static 'img/service1.jpg' %}" alt="Service 1">
                <h3>Emergency</h3>
                <p>Our emergency medical service is available 24 hours a day to provide fast, quality care in emergency situations.</p>
            </div>
            <div class="service">
                <img src="{% static 'img/service2.jpg' %}" alt="Service 2">
                <h3>Specialized treatment</h3>
                <p>We offer a wide range of specialized treatment procedures and therapies tailored to the individual needs of each patient.</p>
            </div>
            <div class="service">
                <img src="{% static 'img/service3.jpg' %}" alt="Service 3">
                <h3>Diagnostics</h3>
                <p>Our diagnostic services provide accurate and fast results, helping you get the information you need to effectively treat and manage your health.</p>
            </div>
        </div>
    </section>
    
    <footer>
        <p>&copy;2025 Application of the Clinic "Constellation". All rights reserved.</p>
    </footer>
</body>
</html>
